body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;  

}

.more-less-link {
    color: #000;
    display: block;
    margin: 30px auto 0;
    text-align: center;
    cursor: pointer;
}

.more-less-link:hover {
    text-decoration: underline;
    
}

.about {
    color: #f6f4e9; 
}

.card:hover {
    transform: scale(1.03);
}