body{
    margin: 0;
    background-color: #f6f4e9;
    scroll-behavior: smooth;
}

.navbar-nav .nav-link{
    color: #000;
    font-size: 1.1rem;
}

@media screen and (min-width: 1024px) {
    .navbar-nav .nav-item{
        padding: 0 1.5rem;
    }
}

.card {
   height: 100%;
   display: flex;
   flex-direction: column;
}

.card-img-top {
   height: 200px; 
   object-fit: cover; 
}

.card-body {
    flex: 1 1 auto;
}

.card:hover {
    transform: scale(1.03);
}

#about {
    color:  #f6f4e9;
    padding-top: 6rem; 
    background-color: #006e6e;
    z-index: 5;
    position: relative;
    border-radius: 0; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden; 
}

#projects {
    padding-top: 6rem; 
    background-color: #006e6e;
    z-index: 5;
    position: relative;
    border-radius: 0; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden; 
}
