body {
    padding-top: 70px;
    margin: 0;
    background-color: #f6f4e9;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.navbar {
    background-color: #f6f4e9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 70px;
}

html {
    scroll-padding-top: 70px; 
}

.navbar-nav .nav-link{
    color: #000;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.navbar-nav .nav-link:hover {
    color:  #93bebe;
    text-decoration: none;
}

.navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #93bebe;
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .navbar-nav .nav-item{
        padding: 0 1.5rem;
    }
}

#about {
    color: #333;
    padding-top: 6rem; 
    padding-bottom: 6rem;
    background-color: #93bebe;
    position: relative;
}

#skills i {
    font-size: 3rem;
    margin: 15px;
    color: #333;
    justify-content: center;
}

#skills i:hover {
    color:#006e6e;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

#projects {
    color: #333;
    padding-top: 6rem; 
    padding-bottom: 6rem;
    background-color: #93bebe;
    position: relative;
}

.card {
   background-color: #f6f4e9;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.card-img-top {
   height: 200px; 
   object-fit: cover; 
}

.card-body {
    flex: 1 1 auto;
}

.card:hover {
    transform: scale(1.03);
}

.more-less-link {
    color: black;
    display: block;
    margin: 30px auto 0;
    text-align: center;
    cursor: pointer;
}
        
.more-less-link:hover {
    color: #f6f4e9;
    text-decoration: underline;
}

#connect i {
    font-size: 3rem;
    margin: 15px;
    color: #333;
    justify-content: center;
}

#connect i:hover {
    color:#006e6e;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.socials {
    color: #f6f4e9; 
}

footer {
    color: #333;
    background-color: #93bebe;
}
