body {
    margin: 0;
    background-color: #f6f4e9;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.navbar-nav .nav-link{
    color: #000;
    font-size: 1.1rem;
}

@media screen and (min-width: 1024px) {
    .navbar-nav .nav-item{
        padding: 0 1.5rem;
    }
}

#about {
    color: #333;
    padding-top: 6rem; 
    padding-bottom: 6rem;
    background-color: #93bebe;
    position: relative;
}

#skills i {
    font-size: 3rem;
    margin: 15px;
    color: #333;
    justify-content: center;
}

#skills i:hover {
    color:#006e6e;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

#projects {
    color: #333;
    padding-top: 6rem; 
    padding-bottom: 6rem;
    background-color: #93bebe;
    position: relative;
}

.card {
   background-color: #f6f4e9;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.card-img-top {
   height: 200px; 
   object-fit: cover; 
}

.card-body {
    flex: 1 1 auto;
}

.card:hover {
    transform: scale(1.03);
}

#connect i {
    font-size: 3rem;
    margin: 15px;
    color: #333;
    justify-content: center;
}

#connect i:hover {
    color:#006e6e;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
