body {
    margin: 0;
    background-color: #f6f4e9;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.custom-header{

    background-color: red;
}

.main-title{

    color: white;
}
